html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('Assets/tile-bg.png');
    background-repeat: repeat-y;
    height:100%;
}
.react-root-flex {
    display:flex;
    flex-direction:column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
    max-width: 100%;
    height: auto;
}

.footer {
    margin-top: auto;
}
